@model AppHeindall.Models.IntegradorDoUsuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IntegradordoUsuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Integrador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Integrador.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioIdAgencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioIdAgencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoginIntegradorUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoginIntegradorUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SenhaIntegradorUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenhaIntegradorUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PortaIntegradorUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PortaIntegradorUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicKeyIntegradorUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublicKeyIntegradorUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateKeyIntegradorUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivateKeyIntegradorUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
