@model IEnumerable<AppHeindall.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostBd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaBd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortaBd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchemaBd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEmpresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostBd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserBd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenhaBd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PortaBd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchemaBd)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
